# ~~~~~~~~~ Global ~~~~~~~~~

# Ignore all dot folders
.*/

# ~~~~~~~~~ Language specific ~~~~~~~~~

# Optimised files
__pycache__/
*.so
*.py[cod]
*$py.class

# Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
python-wheels/
*.egg-info/
*.egg
MANIFEST

# Virtualenv stuff
env/
venv/
pyvenv/
ENV/

# Unit testing
coverage.xml

# ~~~~~~~~~ IDE specific ~~~~~~~~~

# Idea
*.iml

# ~~~~~~~~~ Accelerate ~~~~~~~~~
challenges/
config/
coverage/
coverage.tdl
.coverage
jre/
record/

# ~~~~~~~~~ Added by Thomas Swain ~~~~~~~~~
scripts/create-github-relese.sh
lib/send_command_to_server.py
get_coverage_for_challenge.sh
language.tdl
LICENSE
README.md
record_and_upload.sh
TAG.md
version.txt
# Use Pipenv instead
requirements.txt
lib/__init__.py
lib/runner
lib/solutions/ARRS
lib/solutions/CHL
lib/solutions/FIZ
lib/solutions/IRNG
lib/solutions/TST
test/solution_tests/__init__.py

